{% extends "base.html" %}

{% block title  %}
	Finalização da Compra
{% endblock title  %}

{% block container %}
	<ol class="breadcrumb">
		<li>
			<a href="{℅ url 'index' ℅}" >Início
			</a>
		</li>
		<li>
			<a href="{℅ url 'checkou:cart_item' ℅}" >Carrinho de Compraso</a>
		</li>
		<li class="active">Finalização da Compra</li>
	</ol>
	<div class="page-header">
		<h1>Finalização da Compra</h1>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="alert alert-success">
				Seu pedido foi realizado com sucesso, para realizar o pagamento faça o depósito na seguinte conta:

			</div>
			<p>
			loren sjfjjf sjfjfj rdjcjfnjf fjcjfjjd fjcuifjr fjcicif fjfciifif ffigiif f cicifif figidisisbdjcifif  fifjfjf  
			</p>

		</div>
	</div>
{% endblock  %}
